* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

header {
    border-bottom: 1px solid gainsboro;
    min-height: 60px;
    box-shadow: 1px 1px 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#header-title {
    float: left;
    min-height: 60px;
    margin-left: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#header-title > a {
    display: flex;
    min-height: 60px;
    justify-content: center;
    padding-top: 5px;
    color: rgb(84, 170, 227);
    font-size: 30px;
}

#header-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 60px;
    margin-right: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#header-right-menu {
    flex: 0 1 auto;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#header-right-menu > div {
    float: left;
    margin: 0 10px;
}
#header-right-menu > div > a:hover {
    color: rgb(84, 170, 227);
    text-decoration: underline;
}


#header-right-login {
    flex: 0 1 auto;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#header-right-login > div {
    float: left;
    margin: 0 10px;
}
#header-right-login > div > a:hover {
    color: rgb(84, 170, 227);
    text-decoration: underline;
}
